@{
    ViewData["Title"] = "Espresso Patronum";
    Layout = "layout4";
}
@model IEnumerable<EspressoPatronum.Models.Entities.Product>

<div class="container5">
    <div class="row5">
        
            <div class="card h-100 p-4">
                <img class="img5 img-fluid" src="~/Images/platter.jpg" alt="">
                <div class="as">
                
                <a href="/Product/CheckOut" type="submit" class="but9 btn btn-secondary">Order Now</a>
                </div>
                
            </div>
    </div>
</div>
