 @{
    ViewData["Title"] = "Espresso Patronum";
    Layout = "_Layout";
}

    
<div class="options">
    <h2 class="mainheading">
        Welcome To The Wizarding World!
    </h2>
    <div class="row" >
        <div class="col1">
            <a href="/User/LogIn" class="btn1 ">Log In</a>
        </div>
        <div class="col2">
            <a href="/User/SignUp" class="btn2 ">Sign Up</a>
        </div>
    </div>
</div>
