@{
    ViewData["Title"] = "Espresso Patronum";
    Layout = "layout2";
}

@model EspressoPatronum.Models.Entities.Product



<div class="menuopt text-center">
    <div class="col-md-5 p5" >
        <p class="ft-5 p5" style="color: #E7D4B5;"><b>May your time here be as enchanting<br /> as a visit to Diagon Alley!</b></p>
    </div>
    <div class="row3 top-20">
        <div class="col-sm-6 col4">
            <a class="but6" asp-controller="Product" asp-action="ShowFood" style="color: #E7D4B5;">Enchanting Potions</a>
        </div>
        <div class="col-sm-6 col5" >
            <a class="but7" asp-controller="Product" asp-action="ShowFood" style="color: #E7D4B5;">Delightful Feasts</a>
        </div>
    </div>
</div>




